<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Music Streaming Service</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Music Streaming Service
      </h1>
    </header>

    <main>
      <p class="bold">Hello there</p>
      
      <p>Enter a new user for the service: </p>
      
      <form>
        <input name="first" type="text" maxlength="100" placeholder="First Name">
        <input name="last" type="text" maxlength="100" placeholder="Last Name">
        <label>
          Account Type:
        </label>
        <select name="act">
          <option value="0">
            Standard
          </option>
          <option value="1">
            Premium
          </option>
        </select>
        <button type="submit" id="submit-user">Add User</button>
      </form>
      
      <table>
        <thead>
          <tr><th>First Name</th>
              <th>Last Name</th>
              <th>Date Joined</th>
              <th>Account Type</th>
          </tr>
        </thead>
        <tbody id="user_table">
        </tbody>
      </table>
      
    </main>
  </body>
</html>
